<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>白川</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13685746756</string>
			<key>photo</key>
			<string>0</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈诗雅</string>
			<key>gender</key>
			<string>女</string>
			<key>phoneNum</key>
			<string>15537149959</string>
			<key>photo</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>程晓</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18337166227</string>
			<key>photo</key>
			<string>43</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>冯先兵</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15249681788</string>
			<key>photo</key>
			<string>44</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>谷林强</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13283885124</string>
			<key>photo</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭小川</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15836065615</string>
			<key>photo</key>
			<string>45</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>韩占森</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13663951347</string>
			<key>photo</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄鹏</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13140168126</string>
			<key>photo</key>
			<string>46</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胡鹏</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18039283965</string>
			<key>photo</key>
			<string>4</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>李明达</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15516558101</string>
			<key>photo</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吕晓宾</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15903698761
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
	&lt;key&gt;name&lt;/key&gt;
	&lt;string&gt;李永斌&lt;/string&gt;
	&lt;key&gt;gender&lt;/key&gt;
	&lt;string&gt;男&lt;/string&gt;
	&lt;key&gt;phoneNum&lt;/key&gt;
	&lt;string&gt;18530932139&lt;/string&gt;
	&lt;key&gt;PicName&lt;/key&gt;
	&lt;string&gt;2.jpg&lt;/string&gt;
&lt;/dict&gt;
&lt;/plist&gt;
</string>
			<key>photo</key>
			<string>47</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李征</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13213782530</string>
			<key>photo</key>
			<string>6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李志威</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>17091260626</string>
			<key>photo</key>
			<string>7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘乾龙</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15136629929</string>
			<key>photo</key>
			<string>8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘和庚</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15136629929</string>
			<key>photo</key>
			<string>9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘娴</string>
			<key>gender</key>
			<string>女</string>
			<key>phoneNum</key>
			<string>13673549180</string>
			<key>photo</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘杨</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13213195912</string>
			<key>photo</key>
			<string>11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘营伟</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13783483308</string>
			<key>photo</key>
			<string>12</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘勇航</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18236927872</string>
			<key>photo</key>
			<string>13</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘勇虎</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18135722725</string>
			<key>photo</key>
			<string>14</string>
		</dict>
		<dict>
			<key>name</key>
			<string>卢文清</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13353638537</string>
			<key>photo</key>
			<string>15</string>
		</dict>
		<dict>
			<key>name</key>
			<string>罗刚俊</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13027725120</string>
			<key>photo</key>
			<string>16</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吕晓阳</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13525912340</string>
			<key>photo</key>
			<string>17</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李永斌</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18530932139</string>
			<key>photo</key>
			<string>48</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李瑞杰</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18337174398</string>
			<key>photo</key>
			<string>49</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李赛</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13323711028</string>
			<key>photo</key>
			<string>50</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李鹏飞</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15038123621</string>
			<key>photo</key>
			<string>51</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>name</key>
			<string>牛建伟</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13523526302</string>
			<key>photo</key>
			<string>52</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>name</key>
			<string>潘强强</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18537126590</string>
			<key>photo</key>
			<string>18</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>name</key>
			<string>屈应虎</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18317809763</string>
			<key>photo</key>
			<string>19</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>申少龙</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15517106056</string>
			<key>photo</key>
			<string>20</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙炎</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15515605381</string>
			<key>photo</key>
			<string>21</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>田晨光</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15617552250</string>
			<key>photo</key>
			<string>22</string>
		</dict>
		<dict>
			<key>name</key>
			<string>田红波</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18300675831</string>
			<key>photo</key>
			<string>23</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>王超龙</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18790869009</string>
			<key>photo</key>
			<string>24</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王梦飞</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15136890204</string>
			<key>photo</key>
			<string>25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王缘缘</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18037465140</string>
			<key>photo</key>
			<string>26</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王岳</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18766034290</string>
			<key>photo</key>
			<string>27</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吴明飞</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18538036395</string>
			<key>photo</key>
			<string>28</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>夏文斌</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15375768610</string>
			<key>photo</key>
			<string>29</string>
		</dict>
		<dict>
			<key>name</key>
			<string>谢新龙</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15937832536</string>
			<key>photo</key>
			<string>30</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>叶志高</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13849105170</string>
			<key>photo</key>
			<string>31</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尹辉辉</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15617698329</string>
			<key>photo</key>
			<string>32</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>张聪聪</string>
			<key>gender</key>
			<string>女</string>
			<key>phoneNum</key>
			<string>13838390254</string>
			<key>photo</key>
			<string>33</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵可</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13140168112</string>
			<key>photo</key>
			<string>53</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张东雷</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18530943256</string>
			<key>photo</key>
			<string>34</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张朋超</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15303726695</string>
			<key>photo</key>
			<string>35</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张书豪</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13633855889</string>
			<key>photo</key>
			<string>36</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵露明</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15803885745</string>
			<key>photo</key>
			<string>37</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵楠</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13193808337</string>
			<key>photo</key>
			<string>38</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵英杰</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13253538276</string>
			<key>photo</key>
			<string>39</string>
		</dict>
		<dict>
			<key>name</key>
			<string>支铁冬</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18568260237</string>
			<key>photo</key>
			<string>40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>邹建国</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>13007530537</string>
			<key>photo</key>
			<string>41</string>
		</dict>
		<dict>
			<key>name</key>
			<string>左宝丰</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>15238359407</string>
			<key>photo</key>
			<string>42</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张静晨</string>
			<key>gender</key>
			<string>男</string>
			<key>phoneNum</key>
			<string>18737903138</string>
			<key>photo</key>
			<string>54</string>
		</dict>
	</array>
</dict>
</plist>
